---
layout: docs-base
html-class: docs-page
docs_title: Plurimath symbols
---

<style type="text/css">
  article { min-width: 70%; }
  .solid-border { border: black solid 1px; }
</style>

<div style="overflow-x: scroll;">
  <table>
    <thead>
      <tr>
        <td class="solid-border"><b>AsciiMath</b></td>
        <td class="solid-border"><b>LaTeX</b></td>
        <td class="solid-border"><b>UnicodeMath</b></td>
        <td class="solid-border"><b>MathML</b></td>
        <td class="solid-border"><b>OMML</b></td>
        <td class="solid-border"><b>Presentation</b></td>
      </tr>
    </thead>
    <tbody>
      {% for symbols in site.data["symbols_list"] %}
        <tr>
          <td class="solid-border">
            <ul>
              {% for symbol in symbols["asciimath"] %}
                <li>{{symbol | escape}}</li>
              {% endfor %}
            </ul>
          </td>
          <td class="solid-border">
            <ul>
              {% for symbol in symbols["latex"] %}
                <li>{{symbol | escape}}</li>
              {% endfor %}
            </ul>
          </td>
          <td class="solid-border">
            <ul>
              {% for symbol in symbols["unicodemath"] %}
                <li>{{symbol | escape}}</li>
              {% endfor %}
            </ul>
          </td>
          <td class="solid-border">
            <ul>
              {% for symbol in symbols["mathml"] %}
                <li>{{symbol | escape}}</li>
              {% endfor %}
            </ul>
          </td>
          <td class="solid-border">
            <ul>
              {% for symbol in symbols["omml"] %}
                <li>{{symbol | escape}}</li>
              {% endfor %}
            </ul>
          </td>
          <td class="solid-border" style="text-align: center;">
            <span>
              <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mo>{{symbols["html"][0]}}</mo>
              </math>
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
  const element = document.createElement("script");
  element.id = "MathJax-script";
  element.type = "text/javascript";
  element.src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js";
  element.async = true;
  element.onload = () => { MathJax.typesetPromise() };
  document.head.appendChild(element);
  window.MathJax = {
    startup: {
      ready: () => {
        MathJax.startup.defaultReady();
        console.info('MathJax is loaded, initialized, and the initial typeset is queued');
      }
    }
  }
</script>
